#overview
  %table#template-overview
    %thead
      %tr.title
        %th{ :colspan => 3 } Templates
      %tr
        %th URL Pattern
        %th TTL
        %th 
    %tbody
      - @templates.each_with_index do |template, i|
        %tr{ :class => ('alt' if i % 2 == 1) }
          %td= template.route
          %td= template.ttl
          %td.tools
            %a{ :href => "/admin/templates/#{template.id}"} Edit
    %tfoot
      %tr
        %td{ :colspan => 3 }
          %a{ :href => '/admin/templates/new' } Add Template...
      
  %table#plugin-overview
    %thead
      %tr.title
        %th{ :colspan => 3 } Plugins
      %tr
        %th Name
        %th Active
        %th 
    %tbody
      - @plugins.each_with_index do |plugin, i|
        %tr{ :class => ('alt' if i % 2 == 1) }
          %td= plugin.name
          %td= (plugin.enabled? ? 'Yes' : 'No')
          %td.tools
            %a{ :href => ''} Configure
            %a{ :href => ''} Edit
    %tfoot
      %tr
        %td{ :colspan => 3 }
          %a{ :href => '/admin/plugins/new' } Add Plugin...
  