#overview
  %table#templates
    %thead
      %tr.title
        %th{ :colspan => 3 } Templates
      %tr
        %th Name
        %th URL Pattern
        %th TTL
        %th 
    %tbody
      - @templates.each_with_index do |template, i|
        %tr{ :class => ('alt' if i % 2 == 1), :id => "#{template.id}t" }
          %td= template.title
          %td= template.route
          %td= template.route.empty? ? 'N/A' : template.ttl
          %td.tools
            %a{ :href => "/admin/templates/#{template.id}"} Edit
    %tfoot
      %tr
        %td{ :colspan => 4 }
          %a{ :href => '/admin/templates/new' } Add Template...
      
  %table#plugin-overview
    %thead
      %tr.title
        %th{ :colspan => 3 } Plugin Configuration
      %tr
        %th Name
        %th 
    %tbody
      - @plugins.each_with_index do |plugin, i|
        %tr{ :class => ('alt' if i % 2 == 1) }
          %td= plugin
          %td.tools
            %a{ :href => "/admin/plugins/#{urlencode(plugin)}"} Edit
    %tfoot
      %tr
        %td{ :colspan => 3 }
          %a{ :href => '/admin/plugins/new' } Add Configuration...
  